@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand&family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .container,
.container-fluid{
  padding: 2em;
} */
#mainh{
    color: black;
    font-size:100px;
    font-family: "DM Serif Display";
}
.panel{
  /* border-radius: 0.3rem; */
  /* padding: 1rem; */
  /* margin-bottom: 1rem; */
  background-color: #ffffffa3;
  color: #000000;
}
.navbar{
  background-image: url(https://i.postimg.cc/0yzFLShM/pexels-aboodi-vesakaran-12984939.jpg);
  height: 500px;
  margin-top: 0;
}
.navs{
  padding-bottom: 15px;
  font-weight: 600;
}
#search{
  border-radius: 20px;
}
.links{
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.site-name{
  width: 100%;
  padding: 2rem;
  margin: 30px;
}
.buddhi{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 450px;
}
#buddhi{
  float: left;
  width: 337px;
  margin-left: 75px;
  height: 428px;
  border-radius: 45px;
  /* background-color: rgba(173, 216, 230, 0); */
  padding: 1em;
}
#buddhi1{
  float: right;
  width: 337px;
  margin-right: 75px;
  height: 428px;
  border-radius: 45px;
  /* background-color: rgba(173, 216, 230, 0); */
  padding: 1em;
}
.special{
  background-color: #ca6d6d84;
  height: 100px;
  text-align: left;
  font-family: "DM Serif Display";
  padding: 25px;
  color: rgb(0, 0, 0);
}
.footer{
  background-color: #333;
  overflow: hidden;
}
.flink{
  text-decoration: none;
  padding: 10px;
  text-align: center;
  float: left;
  color: white;
}
/* #extra{
  width: 5rem;
} */
